<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MyPizzeriaDBEntities" connectionString="metadata=res://*/Model.MyPizzeriaDataBaseModel.csdl|res://*/Model.MyPizzeriaDataBaseModel.ssdl|res://*/Model.MyPizzeriaDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=MyPizzeriaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyPizzeriaDBEntities1" connectionString="metadata=res://*/Model.MyPizzeriaDataBaseModel.csdl|res://*/Model.MyPizzeriaDataBaseModel.ssdl|res://*/Model.MyPizzeriaDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=MyPizzeriaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PizzeriaDataBEntities" connectionString="metadata=res://*/Model.PizzeriaDataBaseModel.csdl|res://*/Model.PizzeriaDataBaseModel.ssdl|res://*/Model.PizzeriaDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=PizzeriaDataB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PizzeriaDataBEntities1" connectionString="metadata=res://*/Model.MyPizzeriaDatabaseModel.csdl|res://*/Model.MyPizzeriaDatabaseModel.ssdl|res://*/Model.MyPizzeriaDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=PizzeriaDataB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PizzeriaDataBEntities2" connectionString="metadata=res://*/Model.PizzeriaDatabaseModel.csdl|res://*/Model.PizzeriaDatabaseModel.ssdl|res://*/Model.PizzeriaDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=PizzeriaDataB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PizzeriaDatBEntities" connectionString="metadata=res://*/Model.PizzeriaDataBaseModel.csdl|res://*/Model.PizzeriaDataBaseModel.ssdl|res://*/Model.PizzeriaDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=PizzeriaDatB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PizzeriaDatBEntities1" connectionString="metadata=res://*/Model.PizzeriaDatabaseModel.csdl|res://*/Model.PizzeriaDatabaseModel.ssdl|res://*/Model.PizzeriaDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK32\SQLEXPRESS;initial catalog=PizzeriaDatB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>